image: node:8
stages:
  - test
  - deploy

.test: &test
  stage: test
  script:
   - npm install
   - npm run test

Test Node 8:
  image: node:8
  <<: *test

Test Node 9:
  image: node:9
  <<: *test

Test Node 10:
  image: node:10
  <<: *test

# Publish:
#   stage: publish
#   image: ubuntu
#   before_script:
#     - apt update
#     - apt install git -y
#   script:
#     - mkdir $HOME/.ssh/
#     - echo "$GITHUB_KEY" >> $HOME/.ssh/id_rsa
#     - git remote add github git@github.com:$GITHUB_USER/firescript-test.git
#     - git push github

Deploy:
  stage: deploy
  only:
    - /^v\d+\.\d+\.\d+$/
  except:
    - branches
  script:
    - echo "//registry.npmjs.org/:_authToken=$NPM_AUTH_TOKEN" >> ~/.npmrc
    - npm publish
